doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 17 Challenge
  link(rel='stylesheet' href='../../css/style.css')
style.
  section {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 3px;
  width: 200px;
  }
  .numero {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 10px;
  width: 30px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  }
  div {
  border-radius: 3px;
  }
nav
  a(href='../index.html')
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
      path(fill='#ffffff' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z')
main
  header
    h1 17 Challenge
    p Provides an exercise to apply the learned concepts.
  section
    div(style='background-color: #08fafa')
      .numero
        div 1
    div(style='background-color: #17c8fa')
      .numero
        div 2
    div(style='background-color: #3296fa')
      .numero
        div 3
    div(style='background-color: #4b64fa')
      .numero
        div 4
    div(style='background-color: #6333fa')
      .numero
        div 5
    div(style='background-color: #7d01fa')
      .numero
        div 6
    div(style='background-color: #9601fa')
      .numero
        div 7
    div(style='background-color: #af01fa')
      .numero
        div 8
    div(style='background-color: #c801fa')
      .numero
        div 9
    div(style='background-color: #e101f9')
      .numero
        div 10
